
ul.NavMenu li {
    display:inline;
}

.ActiveLink {
    color:green;
    text-decoration: none;
}

.ActiveHeader {
    color:purple;
}

.LogoMargin{
    margin-left:170px;
}

.MainLinks {
    text-decoration: none;
}

